@media only screen and (min-width: 0rem) {
  .container {
      max-width: 80rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center; 
      justify-content: center; 
      gap: clamp(3rem, 6vw, 4rem);
  }

  .table {
      width: 80%;
      border-collapse: collapse;
      margin: auto; 
  }

  .th,
  .td {
      padding: 0.75rem 1rem;
      box-sizing: border-box;
      border: 1px solid #ddd;
      text-align: center;
      word-wrap: break-word;
  }

  .th:first-child,
  .td:first-child {
      position: sticky;
      left: 0;
      z-index: 100;
      background-color: #f2f2f2;
      text-align: left;
  }

  .th {
      background-color: #f2f2f2;
  }

  .color .th:first-child {
      color: #fff;
      background: linear-gradient(243deg, #0052A2 0%, #00264D 55%, #000B18 100%);
  }

  .tr {
      color: var(--bodyTextColor);
  }

  .icon { 
      height: 1rem;
      width: auto;
  }
}
